<div class="bg-dark text-light">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h3>About</h3>
                <p>Access live currency rates on all major currency crosses in an easy-to-read format. Assess the bid,
                    ask, open, high, low and currency rate changes. To view more information on a particular currency
                    pair, click on the cross that is of interest and navigate across to the dedicated currency pair
                    page.</p>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h3>Useful links</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Advertise on Currency.com</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <h3>Social Media Links</h3>
                <ul class="list-unstyled">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-youtube"></i> YouTube</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- Copyright -->

<div class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <!-- Other sections -->

            <div class="col-md-12 text-center mt-4">
                <p class="mb-0">&copy; 2024 Currency App. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>