<nav class="navbar navbar-light bg-light">
    <div>
        <ul class="nav">
            <li>
                <a href="{% url 'index' %}" class="nav-link">Home</a>
            </li>
            <li>
                <a href="{% url 'currency:rate-list' %}" class="nav-link">Rates</a>
            </li>
            <li>
                <a href="{% url 'currency:contactus-list' %}" class="nav-link">Contacts List</a>
            </li>
            <li>
                <a href="{% url 'currency:source-list' %}" class="nav-link">Sources List</a>
            </li>
        </ul>
    </div>
</nav>