Django==4.2.7
django-extensions
ipython
django-debug-toolbar
django-admin-rangefilter
django-import-export
django-crispy-forms
django-filter
crispy-bootstrap4==2023.1
Celery
requests
beautifulsoup4
djangorestframework
djangorestframework-xml
djangorestframework-yaml
djangorestframework-simplejwt
drf-yasg
setuptools


#flake8
flake8
flake8-builtins
flake8-print

