{% extends 'base.html' %}

{%  block title %}
    Rates List
{% endblock title %}

{% block content %}
    <h1 class="mt-5">Rates List</h1>

    <p class="mt-5">
        <a href="{% url 'currency:rate-create' %}" class="btn btn-primary">Add Source</a>
    </p>

    <table class="table mt-5 table-bordered table-striped table-hover w-50">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Buy</th>
                <th>Sell</th>
            </tr>
        </thead>

    {% for rate in object_list %}
        <tr>
          <td>{{ rate.id }}</td>
          <td>{{ rate.buy }}</td>
          <td>{{ rate.sell }}</td>
          <td><a href="{% url 'currency:rate-update' rate.id %}">Edit</a></td>
          <td><a href="{% url 'currency:rate-delete' rate.id %}">Delete</a></td>
          <td><a href="{% url 'currency:rate-details' rate.id %}">Details</a></td>
        </tr>
    {% endfor %}

    </table>

{% endblock content %}