{% extends 'base.html' %}

{% block title %}
    Rates List
{% endblock title %}

{% block content %}
    <h1 class="mt-5">Rates List</h1>

    <p class="mt-5">
        <a href="{% url 'currency:rate-create' %}" class="btn btn-primary">Add rate</a>
    </p>

    <table class="table mt-5 table-bordered table-striped table-hover">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Buy</th>
            <th>Sell</th>
            <th>Currency</th>
            <th>Date</th>
            <th>Source</th>
            {% if request.user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>

        {% for rate in object_list %}
            <tr>
                <td>{{ rate.id }}</td>
                <td>{{ rate.buy }}</td>
                <td>{{ rate.sell }}</td>
                <td>{{ rate.get_currency_type_display }}</td>
                <td>{{ rate.created }}</td>
                <td>{{ rate.source }}</td>

                {% if request.user.is_authenticated %}
                    <td>
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'currency:rate-details' rate.id %}">Details</a>
                                {% if request.user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'currency:rate-update' rate.id %}">Edit</a>
                                    <a class="dropdown-item" href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}

    </table>

{#    Pagination   #}
    <div>

        {% include 'includes/pagination.html' %}

    </div>

{% endblock content %}