{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}


    <div class="d-flex justify-content-center">
        <div>
            <h1>Login</h1>
            <form method="post">

                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        {{ form.password|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>

            </form>

            <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a></p>
        </div>
    </div>


{% endblock %}