{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div>
            <h3>Reset password</h3>

            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}